* {
    font-family: Arial
}

ul {
    display: flex;
    list-style: none;
    background-color: #ffffff;
    justify-content: center;

}

a {
    color: rgb(41, 206, 49);
    font-family: Arial, Helvetica, sans-serif;
}

.menu li a {
    color: white;
    padding: 3rem;
    margin: 0 auto;
    text-decoration: none;
}

td a, div.menu a, .action {
    text-decoration: none;
    color: #0c29d0;
}