{% extends 'template.html' %}
{% block body %}
    <table>
        List Category:
        <tr>
            <th>
            ID:
            </th>
            <th>
                Name:
            </th>
            <th>
                Description:
            </th>
        </tr>
        {% for category in categories %}
        <tr>
            <td>
                {{ category.id }}
            </td>
            <td>
                {{ category.name }}
            </td>
            <td>
                {{ category.description }}
            </td>
            <td><a href="/category/{{category.id}}">Editar</a></td>
            <td>
                <form action="/category/{{category.id}}/delete" method="POST">
                    <input type="hidden" name="id" value="{{category.id}}" />
                    <button type="submit" style="background: purple">Deletar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}